/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Roboto';
}
.paragraph {
  color: #333333;
  font-size: 25px;
  font-family: 'Roboto';
}
.btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  height: 30px;
  width: 80px;
}
.number {
  color: #0b69ff;
  font-size: 40px;
}
